= simple_form_for @article, url: admin_article_path(@article.id) do |f|
  = f.input :title
  = f.input :body
  = f.button :submit, class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), admin_articles_path, class: 'btn btn-outline-secondary'