= simple_form_for @article, url: admin_articles_path do |article|
  = article.input :title
  = article.input :body
  = article.button :submit, t('.create_article'), class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), admin_articles_path, class: 'btn btn-outline-secondary'