%h1= @article.title
%b
%b= @article.body
%br
%br
%b= @article.author.decorate.name
%br
%br
%b= @article.human_state_name
%br
%b= @article.updated_at
%br
%td= link_to t('.back'), admin_articles_path, class: 'btn btn-outline-secondary'