= simple_form_for @lesson, url: admin_lesson_path(@lesson.id) do |lesson|
  = lesson.input :title
  = lesson.input :description
  = lesson.input :homework
  = lesson.association :course, label_method: :title, include_blank: false
  = lesson.button :submit, t('.create_lesson'), class: 'btn btn-outline-secondary'
  = link_to t('cancel'), admin_lessons_path, class: 'btn btn-outline-secondary'