= simple_form_for @teacher, url: admin_teacher_path(@teacher.id) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :description
  = f.button :submit
  = link_to 'Cancel', admin_teachers_path
