%a.pull-right
  %h1= t('teachers')
%table.table.table-striped.table-hover
  %tr
    %th= Teacher.human_attribute_name(:id)
    %th= Teacher.human_attribute_name(:last_name)
    %th= Teacher.human_attribute_name(:first_name)
    %th= Teacher.human_attribute_name(:email)
    %th= Teacher.human_attribute_name(:description)
    %th= Teacher.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @teachers.each do |teacher|
    %tr
      %td=teacher.id
      %td= link_to teacher.last_name, admin_teacher_path(teacher.id), target: :_blank, class: 'btn btn-outline-secondary btn-sm'
      %td= teacher.first_name
      %td= teacher.email
      %td= teacher.description
      %td= teacher.human_state_name
      %td= link_to t('.edit'), edit_admin_teacher_path(teacher.id), class: 'btn btn-info btn-sm'
      -if teacher.state == 'active'
        %td= link_to t('.del'), admin_teacher_del_path(teacher.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
      -else
        %td= link_to t('.restore'), admin_teacher_restore_path(teacher.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-sm'
    %tr 
%td= link_to t('.add'), new_admin_teacher_path, class: 'btn btn-outline-secondary' 