%a.pull-right
  %h1= 'Teachers'
%table.table.table-striped.table-hover
  %theader
    %tr
      %th= Teacher.human_attribute_name(:id)
      %th= Teacher.human_attribute_name(:last_name)
      %th= Teacher.human_attribute_name(:first_name)
      %th= Teacher.human_attribute_name(:email)
      %th= Teacher.human_attribute_name(:description)
      %th= Teacher.human_attribute_name(:state)
      %th{:colspan => "2"}= t('.control')
  %tbody
    - @teachers.each do |teacher|
      %tr
        %td=teacher.id
        %td= link_to teacher.first_name, admin_teacher_path(teacher.id), targer: :_blank
        %td= teacher.last_name
        %td= teacher.email
        %td= teacher.description
        %td= teacher.human_state_name
        %td= link_to t('.edit'), edit_admin_teacher_path(teacher.id)
        %td= link_to t('.destroy'), admin_teacher_path(teacher.id), method: :delete, data: { confirm: 'Are you sure?' }
      %tr 
%td= link_to t('.add'), new_admin_teacher_path