%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .collapse.navbar-collapse
    .navbar-nav
      = link_to t('header.home'), root_path, class: 'navbar-brand'
      = link_to t('header.professions'), '#', class: 'nav-item nav-link'
      = link_to t('header.articles'), '#', class: 'nav-item nav-link'
      = link_to t('header.reviews'), '#', class: 'nav-item nav-link'
  %div
    =link_to t('header.login teacher'), new_teacher_session_path, class: 'btn btn-outline-secondary btn-sm'
    =link_to t('header.login student'), '#', class: 'btn btn-outline-secondary btn-sm'
.content
  = react_component(component)