%main{:role => "main"}
  .jumbotron
    .container
      %h1.display-3 Проект Study!
      %p Хочешь стать профессионалом в сфере IT? Или подтянуть свои знания? 
      Мы предлагаем быстрый и качественный образовательный сервис, на котором ты можешь изучить профессию ОТ И ДО и стать высокооплачиваемым специалистом. 
      Смотри уроки, делай домашку и будь лучшим среди лучших.
      %b Начни учиться прямо сейчас!
.container
  .row
    .col-md-4
      %center
        %img{:src => "../articles.jpg", :width => 250, :height => 250}
        %h2= t('header.articles')
        %p Здесь ты можешь найти для себя много новой и интересной информации.
        %p
          %a.btn.btn-secondary{:href => articles_path, :role => "button"}= t('more') + ' »'
    .col-md-4
      %center
        %img{:src => "../professions.jpg", :width => 250, :height => 250}
        %h2= t('header.professions')
        %p Выбери профессию по душе и начни обучаться уже сейчас!
        %p
          %a.btn.btn-secondary{:href => professions_path, :role => "button"}= t('more') + ' »'
    .col-md-4
      %center
        %img{:src => "../reviews.jpg", :width => 250, :height => 250}
        %h2= t('header.reviews')
        %p Отзывы студентов, прошедших обучение на нашем портале.
        %p
          %a.btn.btn-secondary{:href => reviews_path, :role => "button"}= t('more') + ' »'
