%a.pull-right
  %h1=t('courses')
%table.table.table-hover
  %tr
    %th= Course.human_attribute_name(:title)
    %th= Course.human_attribute_name(:description)
    %th= Course.human_attribute_name(:updated_at)
  - @courses.each do |course|
    %tr
      %td= course.title
      %td= course.description
      %td= course.updated_at
      
%h1= t('homework')
%table.table.table-hover
  %tr
    %th= StudentHomework.human_attribute_name(:state)
    %th= StudentHomework.human_attribute_name(:student)
    %th= StudentHomework.human_attribute_name(:lesson)
    %th= StudentHomework.human_attribute_name(:date_begin)
    - @student_homeworks.each do |homework|
      %tr
        %td= homework.human_state_name
        %td= homework.student.decorate.name
        %td= homework.lesson.title
        %td= homework.date_begin

%h1=t('articles')
%table.table.table-hover
  %tr
    %th= Article.human_attribute_name(:title)
    %th= Article.human_attribute_name(:author)
    %th= Article.human_attribute_name(:state)
    %th= Article.human_attribute_name(:updated_at)
  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.author.decorate.name
      %td= article.human_state_name
      %td= article.updated_at
