%a.pull-right
  %h1= t('courses')
%table.table.table-striped.table-hover
  %tr
    %th= Course.human_attribute_name(:id)
    %th= Course.human_attribute_name(:professions)
    %th= Course.human_attribute_name(:title)
    %th= Course.human_attribute_name(:description)
    %th= Course.human_attribute_name(:created_at)
    %th{:colspan => "2"}= t('.Управление')
  - @courses.each do |course|
    %tr
      %td= course.id
      %td
        - course.professions.each do |profession|
          %br= profession.title
      %td= course.title
      %td= course.description
      %td= course.created_at
      %td= link_to 'Редактировать', edit_teacher_course_path(course), class: 'btn btn-success btn'
%td= link_to t('.add'), new_teacher_course_path, class: 'btn btn-outline-secondary'