= simple_form_for @course, url: teacher_courses_path do |course|
  = course.input :title
  = course.input :description
  = course.association :teacher, label_method: :last_name, selected: current_teacher.id, disabled: true
  = course.association :professions, as: :check_boxes
  = course.button :submit, class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), teacher_courses_path, class: 'btn btn-outline-secondary'