= simple_form_for @admin, url: admin_admin_path(@admin.id) do |f|
  = f.input :name
  = f.input :email
  = f.input :role
  = f.input :password
  = f.button :submit, t('.create_admin'), class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), admin_admins_path, class: 'btn btn-outline-secondary'