%a.pull-right
  %h1= t('admins')
= search_form_for @search, url: admin_admins_path do |f|
  = f.label :name_cont
  = f.search_field :name_cont
  = f.button t('search_form.search_button'), class: 'btn btn-success btn'
%table.table.table-striped.table-hover
  %tr
    %th= Admin.human_attribute_name(:id)
    %th= Admin.human_attribute_name(:name)
    %th= Admin.human_attribute_name(:email)
    %th= Admin.human_attribute_name(:role)
    %th= Admin.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @admins.each do |admin|
    %tr
      %td= admin.id
      %td= admin.name
      %td= admin.email
      %td= admin.role_text
      %td= admin.human_state_name
      %td= link_to t('.view profile'), admin_admin_path(admin.id), class: 'btn btn-success btn'
- if policy(@admins).new?
  %td= link_to t('.add'), new_admin_admin_path, class: 'btn btn-outline-secondary'
!= pagy_bootstrap_nav(@pagy)