%table.table.table-hover
  %tr
    %th= Admin.human_attribute_name(:id)
    %th= Admin.human_attribute_name('.name_and_email')
    %th= Admin.human_attribute_name(:role)
    %th= Admin.human_attribute_name(:state)
    %th= Admin.human_attribute_name(:created_at)
    %th= t('.control')
  - @admins.each do |admin|
    %tr
      %td= admin.id
      %td= link_to admin.name_and_email, admin_admin_path(admin.id), target: :_blank, class: 'btn btn-outline-secondary btn-sm'
      %td= admin.role_text
      %td= admin.human_state_name
      %td= admin.created_at
      %td= link_to t('.edit'), edit_admin_admin_path(admin.id), class: 'btn btn-info btn-sm'
      %td= link_to t('.del'), admin_admin_del_path(admin.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
      %td= link_to t('.restore'), admin_admin_restore_path(admin.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-sm'
%td= link_to t('.add'), new_admin_admin_path, class: 'btn btn-outline-secondary'