%a.pull-right
  %h1= t('professions')
%table.table.table-striped.table-hover
  %tr
    %th= Profession.human_attribute_name(:id)
    %th= Profession.human_attribute_name(:title)
    %th= Profession.human_attribute_name(:description)
    %th= Profession.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @professions.each do |profession|
    %tr
      %td= link_to profession.id, admin_profession_path(profession.id), target: :_blank
      %td= profession.title
      %td= profession.description
      %td= profession.human_state_name
      %td= link_to t('.edit'), edit_admin_profession_path(profession.id)
      -if profession.state == 'active'
        %td= link_to t('.del'), admin_profession_del_path(profession.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
      -else
        %td= link_to t('.restore'), admin_profession_restore_path(profession.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-sm'
    %tr 
%td= link_to t('.add'), new_admin_profession_path, class: 'btn btn-outline-secondary' 