= simple_form_for @profession, url: admin_profession_path(@profession.id) do |profession|
  = profession.input :title
  = profession.input :description
  = profession.association :courses, as: :check_boxes
  = profession.button :submit, t('.create_profession'), class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), admin_professions_path, class: 'btn btn-outline-secondary' 