= simple_form_for @teacher, url: admin_teachers_path do |teacher|
  = teacher.input :first_name
  = teacher.input :last_name
  = teacher.input :email
  = teacher.input :password
  = teacher.input :description
  = teacher.button :submit, t('.create_teacher'), class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), admin_teachers_path, class: 'btn btn-outline-secondary' 