%a.pull-right
  %h1= t('courses')
%table.table.table-striped.table-hover
  %tr
    %th= Course.human_attribute_name(:id)
    %th= Course.human_attribute_name(:title)
    %th= Course.human_attribute_name(:description)
    %th= Course.human_attribute_name(:created_at)
    %th= Course.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @courses.each do |course|
    %tr
      %td= course.id
      %td= course.title
      %td= course.description
      %td= course.created_at
      %td= course.human_state_name
      %td= link_to t('.view profile'), admin_course_path(course), class: 'btn btn-success btn'
%td= link_to t('.add'), new_admin_course_path, class: 'btn btn-outline-secondary'