%a.pull-right
  %h1= t('courses')
%table.table.table-hover
  %thead
    %tr
      %th= Course.human_attribute_name(:id)
      %th= Course.human_attribute_name(:title)
      %th= Course.human_attribute_name(:description)
      %th= Course.human_attribute_name(:teacher)
      %th= Course.human_attribute_name(:profession)
      %th= Course.human_attribute_name(:created_at)
      %th= Course.human_attribute_name(:state)
  %tbody
    %tr
      %td= @course.id
      %td= @course.title
      %td= @course.description
      %td= @course.teacher.first_name
      %td= @course.professions.map(&:title).join(', ')
      %td= @course.created_at
      %td= @course.human_state_name
%h3= t('lessons')
- @course.lessons.each do |lesson|
  %li= link_to lesson.title, admin_lesson_path(lesson), class: 'btn btn-outline-secondary'
%br
- if policy(@course).edit?
  %td= link_to t('.edit'), edit_admin_course_path(@course.id), class: 'btn btn-success btn-sm'
-if @course.can_del?
  %td= link_to t('.del'), admin_course_del_path(@course.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
-if @course.can_restore?
  %td= link_to t('.restore'), admin_course_restore_path(@course.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-sm'
= link_to t('.back'), admin_courses_path, class: 'btn btn-outline-secondary'
