= simple_form_for @student, url: admin_student_path(@student.id) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :phone_number
  = f.button :submit, class: 'btn btn-outline-secondary'
  = link_to t('.cancel'), admin_students_path, class: 'btn btn-outline-secondary' 