%a.pull-right
  %h1= t('courses')
%table.table.table-striped.table-hover
  %tr
    %th= Course.human_attribute_name(:id)
    %th= Course.human_attribute_name(:title)
    %th= Course.human_attribute_name(:description)
    %th= Course.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @courses.each do |course|
    %tr
      %td= course.id
      %td= link_to course.title, admin_course_path(course.id), target: :_blank, class: 'btn btn-outline-secondary btn-sm'
      %td= course.description
      %td= course.human_state_name
      %td= link_to t('.edit'), edit_admin_course_path(course.id), class: 'btn btn-info btn-sm'
      -if course.can_del?
        %td= link_to t('.del'), admin_course_del_path(course.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
      -if course.can_restore?
        %td= link_to t('.restore'), admin_course_restore_path(course.id), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-sm'
%td= link_to t('.add'), new_admin_course_path, class: 'btn btn-outline-secondary'